html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

$primary-color: lightgray;
$secondary-color: lightblue;
$cara-color: gold;
$paragraph-color: black;
$header-two-color: black;
$main-header-color: black;

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 10px 0 10px 0;
}

.sekce{
    padding: 5px 10px;
}

body{
    margin: 0;
}

ul{
    padding: 0;
}

li{
    list-style: decimal;
}