@use "basis";

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    align-items: center;
    background-color: basis.$primary-color;
}

.navig__list{
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.navig__item{
    list-style: none;
    margin: 0 5px;
}