@use "basis";

.sluzby{
    background-color: basis.$primary-color;
}

.sluzby__list{
    display: flex;
    justify-content: space-around;
}

.sluzby__item{
    background-color: basis.$secondary-color;
    padding: 5px;
    border-radius: 10px;
    list-style: none;
}