<header>
    <h1>ESFIB</h1>
    <nav>
        <ul class="navig__list">
            <li class="navig__item"><a href="#O_nas"></a>O nás</li>
            <li class="navig__item"><a href="#Sluzby"></a>Sluzby</li>
            <li class="navig__item"><a href="#Reference"></a>Reference</li>
            <li class="navig__item"><a href="#Kontakt"></a>Kontakt</li>
        </ul>
    </nav>
</header>